.loadership_RUFVJ {
  display: flex;
  position: relative;
  width: 70px;
  height: 70px;
  margin-top: 30px;
}

.loadership_RUFVJ div {
  position: absolute;
  width: 22px;
  height: 22px;
  background: #354873;
  animation:
    loadership_RUFVJ_scale 1.9s infinite,
    loadership_RUFVJ_fade 1.9s infinite;
  animation-timing-function: ease-in-out;
}

.loadership_RUFVJ div:nth-child(1) {
  animation-delay: 0s;
  top: 0px;
  left: 0px;
}
.loadership_RUFVJ div:nth-child(2) {
  animation-delay: 0.15s;
  top: 0px;
  left: 18px;
}
.loadership_RUFVJ div:nth-child(3) {
  animation-delay: 0.3s;
  top: 0px;
  left: 36px;
}
.loadership_RUFVJ div:nth-child(4) {
  animation-delay: 0.15s;
  top: 18px;
  left: 0px;
}
.loadership_RUFVJ div:nth-child(5) {
  animation-delay: 0.3s;
  top: 18px;
  left: 18px;
}
.loadership_RUFVJ div:nth-child(6) {
  animation-delay: 0.45s;
  top: 18px;
  left: 36px;
}
.loadership_RUFVJ div:nth-child(7) {
  animation-delay: 0.3s;
  top: 36px;
  left: 0px;
}
.loadership_RUFVJ div:nth-child(8) {
  animation-delay: 0.45s;
  top: 36px;
  left: 18px;
}
.loadership_RUFVJ div:nth-child(9) {
  animation-delay: 0.6s;
  top: 36px;
  left: 36px;
}

@keyframes loadership_RUFVJ_scale {
  0%,
  47.36842105263158%,
  100% {
    transform: scale(1);
  }
  23.68421052631579% {
    transform: scale(0);
  }
}

@keyframes loadership_RUFVJ_fade {
  0%,
  47.36842105263158%,
  100% {
    opacity: 1;
  }
  23.68421052631579% {
    opacity: 1;
  }
}
