@keyframes navbar_bg {
  100% {
    background-color: rgba(235, 234, 245, 0.6);
    backdrop-filter: blur(15px);
    height: 50px;
    color: #242e47dc;
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: 0 4px 4px 0px rgba(179, 183, 228, 0.3);
  }
}

@keyframes nav_hover {
  100% {
    color: #071436;
  }
}

@keyframes nav_logo {
  100% {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}


.scroll-navbar {
  animation: navbar_bg linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 80px;

  & :hover {
    animation: nav_hover linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 100px;
  }
}

.logo,
.hamburguesa,
.logo:hover,
.hamburguesa:hover {
  animation: nav_logo linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 140px;
}
