.custom-shape-divider-bottom-1707232500 {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707232500 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1707232500 .shape-fill {
    fill: #f3f4f6;
}