.custom-shape-divider-bottom-1707417843 {
    position: absolute;
    top: -49px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707417843 svg {
    position: relative;
    display: block;
    width: calc(197% + 1.3px);
    height: 49px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1707417843 .shape-fill {
    fill: #F3F4F6;
}
.logo-footer {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}