*, *::before, *::after {
  box-sizing: border-box;
  /* text-shadow: #FC0 1px 0 10px; */
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

::view-transition-group(root){
  animation-duration: 300ms;
}/* 
::view-transition-old(card){
  animation-name: apareciendoLento;
}
::view-transition-new(card){
  animation-name: saliendoRapido;
}

::view-transition-group(img-product){
  animation-name: degradadoRapido;
}

@keyframes apareciendoLento {
  0%{
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes saliendoRapido {
  0%{
    opacity: 1;
  }
  10%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes prueba {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
} */
